@import "../../../sass/combinedStyles.scss";

.contentBlockItem {
  max-width: 1000px;
  margin: auto;
  padding: 35px 20px;
}

.contentBlock:nth-child(even) {
  background-color: $darkBlue;
  h2, h3 {
    color: $white;
  }
}
