@import "../../../sass/combinedStyles.scss";


.formContainer{
    display: flex;
    width: 100%;
}

form {
    font-family: $bodyFont;
    width: 50%;
    label, input, textarea {
        display: block;
        width: 100%;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
}

.contactFormImage {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        border-radius: 50%;
        width: 270px;
    }
}

.formField button {
    margin: 5px 0px;
    border-radius: 0px;
    border: none;
    padding: 10px 20px;
    background-color: #c29b6c;
    color:black;
    font-weight: bold;
    font-family: $bodyFont;
    font-size: 1.2em;
}

